@import "tailwindcss";

body {
    font-family: "poppins";
}


/* HERO-SECTION */

.heros img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.heros {
    position: relative;

}

.text-contents {
    padding: 20px;
}

@media(max-width:766px) {
    .heros img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

}



/* SERVICE */

.service {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    background: #F6EFE7;
    padding: 20px;
    gap: 60px;
    overflow-x: scroll;
}

.service::-webkit-scrollbar {
    appearance: none;
}

.service-item {
    color: rgb(143, 48, 0);
    display: flex;
    align-items: center;
    gap: 5px;

    width: 290px;
    /* fixed width */
    flex-shrink: 0;
    /* don't shrink */

    height: 100%;
    /* border: #7B3306 1px solid; */
    border-radius: 10px;
    padding-left: 5px;

}

.service .service-item img {
    width: 5vh;
    height: 5vh;
}



.service-item .description span {
    transition: 0.8s ease;
    background-color: #7b33066b;
    color: #5e2602;
}

.service-item .description span:hover {
    background: linear-gradient(to right, #7B3306, black);
    color: white;
    cursor: pointer;
    transition: 0.2s linear;
}


/* POPULAR-SECTION */

.popular-heading {
    background-color: #391701;
    text-align: center;
    display: flex;
    justify-content: center;
}

.popular-heading H1 {
    font-family: "Playfair Display", serif;
}

.popular-section {
    width: 100%;
    background-color: #391701;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.popular-items {
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popular-items img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0px;
    border-radius: 10px;
}

.popular-items img:hover {
    opacity: 50;
    cursor: pointer;
}

.popular-items span {
    color: #ffffff;
}

@media screen and (max-width:1200px) {
    .popular-section {
        width: 100%;
        background-color: #391701;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .popular-items img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 0px;
        border-radius: 10px;
    }
}

@media screen and (max-width:798px) {
    .popular-section {
        width: 100%;
        background-color: #391701;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .popular-items img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 0px;
        border-radius: 10px;
    }


}

@media screen and (max-width:500px) {
    .popular-section {
        width: 100%;
        background-color: #391701;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .popular-items img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 0px;
        border-radius: 10px;
    }
}


